.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 500px !important;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.half-pane{
  display: inline-block;
  width: calc(50% - 20px);
  vertical-align: top;
  border: 1px solid black;
}

.friend-result-link{
  display: inline-block;
  margin: 5px 15px;
}

.login-form{
  margin: auto;
  margin-bottom: 40px;
  max-width: 400px;
}

.register-form{
  margin: auto;
  margin-bottom: 40px;
  max-width: 500px;
}

.register-label{
  padding: 7px 15px;
  text-align: right;
}

.register-button{
  margin: 5px 15px;
}

.friends-form{
  margin: auto;
  max-width: 500px;
}

.books-form{
  margin: auto;
  max-width: 700px;
}

.large-cover{
  margin: 15px;
}

.small-cover{
  height: 120px;
}

.book-detail-button{
  margin: 5px;
}

.navbar *{
  margin: auto;
}

.readerExperienceBookInfo{
  margin: auto;
}