.App {
  text-align: center;
  background-color: #e0e0e0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 500px !important;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.top-pane{
  padding-top: 20px;
  border-top: 1px solid black;
  vertical-align: top;
  background-color: #e0e0e0;
}

.lower-pane{
  vertical-align: top;
  background-color: #333333;
  padding: 30px;
  height: 100%;
  color: white;
  width: 75%;
  margin: auto;
  border-radius: 8px;
}

.friend-result-link{
  display: inline-block;
  margin: 5px 15px;
}

.login-form{
  margin: auto;
  margin-bottom: 40px;
  max-width: 400px;
}

.register-form{
  margin: auto;
  margin-bottom: 40px;
  max-width: 500px;
}

.register-label{
  padding: 7px 15px;
  text-align: right;
}

.register-button{
  margin: 5px 15px;
}

.friends-form{
  margin: auto;
  max-width: 500px;
}

.books-form{
  margin: auto;
  max-width: 700px;
}

.large-cover{
  margin: 15px;
  box-shadow: 2px 5px 10px #444444;
}

.small-cover{
  height: 120px;
  box-shadow: 2px 4px 8px #444444;
}

.book-detail-button{
  margin: 5px;
}

.navbar {
  padding-bottom: 0px;
  background-color: white;
}

.navbar *{
  margin: 0 auto;
}

.reader-experience-book-info{
  margin: auto;
}

.review {
  color: black;
  margin: 20px auto;
  padding: 12px 4px 4px 4px;
  background-color: #e0e0e0;
  border: 2px solid black;
  border-radius: 7px;
  max-width: 480px;
  box-shadow: 2px 5px 10px black;
}

.button-link{
  background-color: #6c757d;
  color: white;
  padding: 4px 8px;
}

.profile-link{
  display: inline-block;
  padding: 4px 10px;
}

.active{
  position: relative;
  bottom: -0.5px;
  font-weight: 700;
  background-color: #e0e0e0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 6px 6px 0px 0px;
  
}

.profile-link.active{
  position: relative;
  bottom: -0.5px;
  border-radius: 6px 6px 0px 0px;
  background-color: #333333;
}




#top-bar{
  padding-bottom: 0px;
}

#bottom-button{
  margin-bottom: 20px;
}

.white{
  background: white;
}